<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body class="p-4">
    <section class="p-4 bg-secondary">
        <h2 style="color:black">Ingrese Producto</h2>
        <form action='/productos' method='POST'>
            <div class='mb-3'>
                <label class='form-label fw-bold' for='name'>Nombre</label>
                <input class="form-control" type='text' name='name'  placeholder="Ingrese nombre producto"/>
            </div>
            <div class='mb-3'>
                <label class='form-label fw-bold' for='price'>Precio</label>
                <input class="form-control" type='number' name='price' placeholder="Ingrese precio producto"/>
            </div>
            <div class='mb-3'>
                <label class='form-label fw-bold' for='picture'>Foto URL</label>
                <input class="form-control" type='url' name='picture' placeholder="Ingrese url de la imagen"/>
            </div>
            <div class='mb-3'>
                <input class="btn btn-success" type='submit' value='Cargar produto' />
            </div>
        </form>
        <div>
            <a href="./">
                <button class="btn btn-warning">Ver Lista Productos</button>
            </a>
        </div>
    </section>
</body>

</html>